@import url(chrome://global/skin/);

/* custom elements */
foundation, cell, reserve, stock, waste, pile { display: -moz-stack; }
flex { -moz-box-flex: 1; }
flex2 { -moz-box-flex: 2; }
flex3 { -moz-box-flex: 3; }
flex4 { -moz-box-flex: 4; }
flex5 { -moz-box-flex: 5; }


label { margin-left: 0; margin-right: 0 } /* global formatting.css provides unwanted margins */

#games { overflow: hidden; }


#message {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-flex: 1;
}
#message-inner {
  padding: 1.8em;
  background: -moz-dialog;
  border: 1px solid;
}
#message1 {
  font-size: 1.3em;
  font-weight: bold;
}
#message2 {
  margin-top: 1em;
  font-size: 1.2em;
}


#score-panel { margin-right: 10px; }
toolbarbutton { padding-left: 6px; padding-right: 6px; margin-right: 5px;}

rowspacer { height: 10px;}
colspacer { width: 10px; }

space { min-width: 10px; min-height: 10px; }

.game {
  padding-top: 10px;
}

.stockcounter {
  text-align: center;
  padding-top: 0.2em;
}

.card-highlight { background: darkgray; -moz-opacity: 0.3; }

.pyramid-pile {
  background-image: none;
}
