@import url(chrome://global/skin/);

/* custom elements */
foundation, cell, reserve, stock, waste, pile { display: -moz-stack; }
flex { -moz-box-flex: 1; }
flex2 { -moz-box-flex: 2; }
flex3 { -moz-box-flex: 3; }
flex4 { -moz-box-flex: 4; }
flex5 { -moz-box-flex: 5; }


label { margin-left: 0; margin-right: 0 } /* global formatting.css provides unwanted margins */

toolbargrippy { display:none; } /* die grippies, die! */

/*
negative margin on the <stack/> lets you drag cards out of the edge of the window without
forcing the stack to expand, which pulls the whole content of the game right, or causes
slowdowns (dragging off bottom). then we apply a margin to each game to stop it using the
space
*/
#games { margin: 0 -200px -1000px 0; }
vbox[name], hbox[name], #game-won-msg { margin: 0 200px 1000px 0; }

#games { overflow: hidden; }


#game-won-msg {
  padding: 3em;
  background: -moz-dialog;
  border: 1px solid;
}
#game-won-msg1 {
  font-size: 2.5em;
  font-weight: bold;
}
#game-won-msg2 {
  margin-top: 1em;
  font-size: 1.5em;
}


#score-panel { margin-right: 10px; }
toolbarbutton { padding-left: 6px; padding-right: 6px; margin-right: 5px;}

rowspacer { height: 10px;}
colspacer { width: 10px; }



.card-highlight { background: black; -moz-opacity: 0.25; }

.pyramid-row > pile {
  background-image: none;
}
