@import url(chrome://global/skin/);

/* custom elements */
flex { -moz-box-flex: 1; }
flex2 { -moz-box-flex: 2; }
flex3 { -moz-box-flex: 3; }
flex4 { -moz-box-flex: 4; }
flex5 { -moz-box-flex: 5; }
space { min-width: 10px; min-height: 10px; }

label { margin-left: 0; margin-right: 0 } /* global formatting.css provides unwanted margins */

#games { overflow: hidden; }

#message {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-flex: 1;
}
#message-inner {
  padding: 1.8em;
  background: -moz-dialog;
  border: 1px solid;
}
#message1 {
  font-size: 1.3em;
  font-weight: bold;
}
#message2 {
  margin-top: 1em;
  font-size: 1.2em;
}

#score-panel { margin-right: 10px }
toolbarbutton { margin-left: 10px; }
#score-panel label { margin: 0 }

.game {
  padding-top: 10px;
}

.stockcounter {
  text-align: center;
  padding-top: 0.2em;
}

.card-highlight { background: darkgray; -moz-opacity: 0.3; }

.pyramid .pile {
  background-image: none;
}

/* for card <image>s */
.hidden { display: none }
