label[disabled="true"] {
  color: GrayText;
}

menulist > menupopup,
.menulist-menupopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

window {
  -moz-appearance: dialog;
  background-color: #FFFFFF;
  color: -moz-DialogText;
  font: message-box;
}



/* various <div>s used to display the piles and control their layout */
.flex, .hbox, .vbox, .space, .pilespacer, .halfpilespacer, .game {
  display: -moz-box;
}
.vbox { -moz-box-orient: vertical; }
.flex { -moz-box-flex: 1; }
.flex2 { -moz-box-flex: 2; }
.flex3 { -moz-box-flex: 3; }
.flex4 { -moz-box-flex: 4; }
.flex5 { -moz-box-flex: 5; }
.space { min-width: 10px; min-height: 10px; }


#games {
  /* avoid manually spacing on every game */
  padding-top: 10px;
  /* stops toolbar stretching right when cards are dragged beyond the window edge */
  overflow: hidden;
}

#message {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-flex: 1;
}
#message-inner {
  padding: 1.8em;
  background: -moz-dialog;
  border: 1px solid;
}
#message1 {
  font-size: 1.3em;
  font-weight: bold;
}
#message2 {
  margin-top: 1em;
  font-size: 1.2em;
}

#score-panel { margin-right: 10px }
toolbarbutton { margin-left: 10px; }

.counter {
  text-align: center;
  padding-top: 0.2em;
}

canvas, .pilespacer {
  min-width: 79px;
  min-height: 123px;
}
.halfpilespacer {
  min-width: 40px;
  min-height: 123px;
}

.pyramid > * { margin-bottom: -60px; }
.pyramid { padding-bottom: 60px; }
/* this *does* pass clicks through to other elements, thankfully */
.pyramid-collapse { visibility: hidden; }

/* for card <image>s */
.hidden { display: none }
