* {
  -moz-user-focus: ignore;
  -moz-user-select: -moz-none;
}

html {
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: message-box;
}


#games, #sidebarmenu {
  position: fixed;
  top: 0;
  bottom: 0;
}

#games {
  background: #ddd;
  left: 0;
  right: 130px;
  overflow: hidden;
}

#games > .game {
  width: 100%;
  padding-top: 10px;
}

#sidebarmenu {
  right: 0;
  width: 110px;
  /* Note: this is currently behaving as if box-sizing:border-box were set.  not sure why */
  padding: 10px;
  background: #ccc;
  color: black;
}

#sidebarmenu h1 {
  font-size: 1.4em;
  margin: 0;
}

#sidebarmenu h2 {
  font-size: 1em;
  font-weight: normal;
}

#sidebarmenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.2em 0;
  margin-top: 0.1em;
}

#sidebarmenu a[disabled=true] {
  color: grey;
}

#sidebarmenu a:focus {
  -moz-outline: none;
  outline: none;
}


.fullpageoverlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


#game-chooser {
  background: rgba(0, 0, 0, 0.3);
}

#game-chooser-inner {
  padding: 10px;
  margin: 50px;
  background: #ddd;
}

#game-chooser-inner h2 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
}

#game-chooser-inner > div {
  color: black;
}

#game-chooser-inner a {
  margin: 0;
  display: block;
  float: left;
  width: 33%;
  font-size: 14px;
  padding: 0.2em 0;
  color: black;
}

#game-chooser a:hover {
  text-decoration: underline;
}

.game_chooser_clear {
  clear: left;
}


/* various <div>s used to display the piles and control their layout */
.flex, .hbox, .vbox, .space, .pilespacer, .halfpilespacer, .game {
  display: -moz-box;
}
.vbox { -moz-box-orient: vertical; }
.flex { -moz-box-flex: 1; }
.flex2 { -moz-box-flex: 2; }
.flex3 { -moz-box-flex: 3; }
.flex4 { -moz-box-flex: 4; }
.flex5 { -moz-box-flex: 5; }
.space { min-width: 10px; min-height: 10px; }


#message-inner {
  /* we're trying to center it in the window */
  position: relative;
  top: 50%;
  margin: -5em auto 0;
  width: 60%;
  padding: 1.8em;
  background: #ddd;
  border: 1px solid;
}
#message1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}
#message2 {
  margin: 1em 0 0 0;
  font-size: 1.2em;
}


.counter {
  text-align: center;
  padding-top: 0.2em;
}

canvas, .pilespacer {
  min-width: 79px;
  min-height: 123px;
}
.halfpilespacer {
  min-width: 40px;
  min-height: 123px;
}

.pyramid > * { margin-bottom: -60px; }
.pyramid { padding-bottom: 60px; }
/* this *does* pass clicks through to other elements, thankfully */
.pyramid-collapse { visibility: hidden; }

/* for card <image>s */
.hidden { display: none }
