* {
  -moz-user-focus: ignore;
  -moz-user-select: -moz-none;
}

body {
  margin: 0;
  padding: 0;
  -moz-appearance: dialog;
  background: #ededed;
  color: black;
  font: message-box;

  display: -moz-box;
  overflow: -moz-hidden-unscrollable;
  -moz-box-orient: vertical;
}


#sidebarmenu {
  /* Note: this is currently behaving as if box-sizing:border-box were set.  presumably XUL's fault */
  width: 130px;
  padding: 10px;
  background: #ccc;
  color: black;
}

#sidebarmenu h1 {
  font-size: 1.4em;
  margin: 0;
}

#sidebarmenu h2 {
  font-size: 1em;
  font-weight: normal;
}

#sidebarmenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.2em 0;
  margin-top: 0.1em;
}

#sidebarmenu a[disabled=true] {
  color: grey;
}

#sidebarmenu a:focus {
  -moz-outline: none;
  outline: none;
}


.fullpageoverlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


#game-chooser {
  background: rgba(0, 0, 0, 0.3);
}

#game-chooser > div {
  margin: 50px;
  border: 1px solid red;
  background: black;
  color: white;
}

#game-chooser a {
  display: block;
  float: left;
  width: 50%;
  margin: 3px 0;
  font-size: 18px;
  background: black;
  color: white;
}

#game-chooser a:hover {
  background: grey;
}

.game_chooser_clear {
  clear: left;
}


/* various <div>s used to display the piles and control their layout */
.flex, .hbox, .vbox, .space, .pilespacer, .halfpilespacer, .game {
  display: -moz-box;
}
.vbox { -moz-box-orient: vertical; }
.flex { -moz-box-flex: 1; }
.flex2 { -moz-box-flex: 2; }
.flex3 { -moz-box-flex: 3; }
.flex4 { -moz-box-flex: 4; }
.flex5 { -moz-box-flex: 5; }
.space { min-width: 10px; min-height: 10px; }


#games {
  display: -moz-stack;
  /* avoid manually spacing on every game */
  padding-top: 10px;
  /* stops toolbar stretching right when cards are dragged beyond the window edge */
  overflow: hidden;
}

#message-inner {
  /* we're trying to center it in the window */
  position: relative;
  top: 50%;
  margin: -5em auto 0;
  width: 60%;
  padding: 1.8em;
  background: -moz-dialog;
  border: 1px solid;
}
#message1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}
#message2 {
  margin: 1em 0 0 0;
  font-size: 1.2em;
}

#score-panel { margin-right: 10px }
toolbarbutton { margin-left: 10px; }

.counter {
  text-align: center;
  padding-top: 0.2em;
}

canvas, .pilespacer {
  min-width: 79px;
  min-height: 123px;
}
.halfpilespacer {
  min-width: 40px;
  min-height: 123px;
}

.pyramid > * { margin-bottom: -60px; }
.pyramid { padding-bottom: 60px; }
/* this *does* pass clicks through to other elements, thankfully */
.pyramid-collapse { visibility: hidden; }

/* for card <image>s */
.hidden { display: none }
