* {
  -moz-user-focus: ignore;
  -moz-user-select: -moz-none;
}

html {
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: message-box;
}


#games, #sidebarmenu {
  position: fixed;
  top: 0;
  bottom: 0;
}

#games {
  background: #ddd;
  left: 0;
  right: 130px;
  overflow: hidden;
}

#games > .game {
  width: 100%;
  padding-top: 10px;
}

#sidebarmenu {
  right: 0;
  width: 110px;
  padding: 10px;
  background: #ccc;
  color: black;
}

#sidebarmenu h1 {
  font-size: 1.4em;
  margin: 0;
}

#sidebarmenu h2 {
  font-size: 1em;
  font-weight: normal;
}

#sidebarmenu a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.2em 0;
  margin-top: 0.1em;
}

#sidebarmenu a[disabled=true] {
  color: grey;
}

#sidebarmenu a:focus {
  -moz-outline: none;
  outline: none;
}


.fullpageoverlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


#game-chooser {
  background: rgba(0, 0, 0, 0.3);
}

#game-chooser-inner {
  padding: 10px;
  margin: 50px;
  background: #ddd;
}

#game-chooser-inner h2 {
  margin: 0 0 25px 0;
  font-size: 16px;
  font-weight: normal;
}

#game-chooser-inner > div {
  display: inline-block;
  vertical-align: top;
  color: black;
  width: 25%;
  font-size: 14px;
}

#game-chooser-inner h6 {
  font-size: 1em;
  font-weight: normal;
  color: #555;
  font-style: italic;
}

#game-chooser-inner p + h6 {
  margin-top: 24px; /* font-size + 2 * margint-bottom */
}

#game-chooser-inner h6,
#game-chooser-inner p {
  margin: 0 0 5px 0;
}

#game-chooser-inner p {
  margin-left: 1.5em;
  display: list-item;
}

#game-chooser a:hover {
  text-decoration: underline;
}


#message-inner {
  /* we're trying to center it in the window */
  position: relative;
  top: 50%;
  margin: -5em auto 0;
  width: 60%;
  padding: 1.8em;
  background: #ddd;
  border: 1px solid;
}
#message1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}
#message2 {
  margin: 1em 0 0 0;
  font-size: 1.2em;
}


.counter {
  text-align: center;
  padding-top: 0.2em;
}

canvas {
  min-width: 79px;
  min-height: 123px;
}

.horizontal-pilespacer {
  min-width: 79px;
}

.horizontal-halfpilespacer {
  min-width: 40px;
}

.thinspacer {
  width: 10px;
  height: 10px;
}


.pyramidlayout {
  padding-bottom: 123px; /* height of the bottom row of cards, which are actually position:absolute */
}

.pyramidlayout > * {
  margin-bottom: 40px; /* aethetically-chosen offset between top edges of rows */
}

.pyramidlayout .thinspacer {
  height: 0;
}

.pyramidlayout td {
  padding-bottom: 0 !important;
}

.pyramid-pile-wrapper {
  min-width: 79px;
}

.pyramidlayout canvas {
  position: absolute;
}


.gamelayout-table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}

.gamelayout-table canvas {
  display: block; /* to avoid baseline weirdness */
}

.shortcolumn canvas {
  margin: 0 auto;
}

.gamelayout-table td {
  padding: 0;
  text-align: center;
  vertical-align: top;
  /* so we get gaps between rows in grids */
  padding-bottom: 10px;
}

.longcolumn-outer {
  min-width: 79px;
  position: relative;
}

.longcolumn-inner {
  position: absolute;
}

.longcolumn-inner canvas {
  margin-top: 10px;
}

.longcolumn-inner canvas:first-child {
  margin-top: 0;
}
